/* line 17, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Ribbons --------------------------------------------------------------*/
/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-wrapper {
  height: 60px;
  width: 400px;
  position: relative;
  z-index: 3;
  background-position: 0 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 20, color-stop(0%, #555555), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -moz-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -o-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-front {
  width: 460px;
  height: 40px;
  background-color: #3a89ce;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -30px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-edge-left-top,
#ribbon-example-1 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-back-left {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #3a89ce;
  left: -40px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-edge-right-top,
#ribbon-example-1 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-back-right {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #3a89ce;
  right: -40px;
}
/* line 164, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-edge-left-bottom {
  top: 40px;
  border-width: 0 30px 20px 0;
  border-color: transparent #163a59 transparent transparent;
}
/* line 170, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-back-left {
  top: 20px;
}
/* line 190, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-edge-right-bottom {
  top: 40px;
  border-width: 20px 30px 0 0;
  border-color: #163a59 transparent transparent transparent;
}
/* line 196, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-1 div.ribbon-back-right {
  top: 20px;
}

/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-wrapper {
  height: 60px;
  width: 450px;
  position: relative;
  z-index: 3;
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-front {
  width: 510px;
  height: 40px;
  background-color: #3a89ce;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -30px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-edge-left-top,
#ribbon-example-2 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-back-left {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #3a89ce;
  left: -40px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-edge-right-top,
#ribbon-example-2 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-back-right {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #3a89ce;
  right: -40px;
}
/* line 151, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-edge-left-top {
  bottom: 60px;
  border-width: 20px 30px 0 0;
  border-color: transparent #163a59 transparent transparent;
}
/* line 157, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-back-left {
  top: -20px;
}
/* line 190, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-edge-right-bottom {
  top: 40px;
  border-width: 20px 30px 0 0;
  border-color: #163a59 transparent transparent transparent;
}
/* line 196, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-2 div.ribbon-back-right {
  top: 20px;
}

/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-wrapper {
  height: 60px;
  width: 550px;
  position: relative;
  z-index: 3;
  background-position: 0 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 20, color-stop(0%, #555555), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -moz-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -o-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-front {
  width: 610px;
  height: 40px;
  background-color: #8c46c3;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -30px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-edge-left-top,
#ribbon-example-3 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-back-left {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #8c46c3;
  left: -40px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-edge-right-top,
#ribbon-example-3 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-back-right {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #8c46c3;
  right: -40px;
}
/* line 164, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-edge-left-bottom {
  top: 40px;
  border-width: 0 30px 20px 0;
  border-color: transparent #3b1b55 transparent transparent;
}
/* line 170, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-back-left {
  top: 20px;
}
/* line 190, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-edge-right-bottom {
  top: 40px;
  border-width: 20px 30px 0 0;
  border-color: #3b1b55 transparent transparent transparent;
}
/* line 196, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-3 div.ribbon-back-right {
  top: 20px;
}

/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-wrapper {
  height: 60px;
  width: 600px;
  position: relative;
  z-index: 3;
  background-position: 0 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 20, color-stop(0%, #555555), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -moz-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -o-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-front {
  width: 660px;
  height: 40px;
  background-color: #8c46c3;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -30px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-edge-left-top,
#ribbon-example-4 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-back-left {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #b952ae;
  left: -40px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-edge-right-top,
#ribbon-example-4 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-back-right {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #b952ae;
  right: -40px;
}
/* line 164, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-edge-left-bottom {
  top: 40px;
  border-width: 0 30px 20px 0;
  border-color: transparent #813a98 transparent transparent;
}
/* line 170, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-back-left {
  top: 20px;
}
/* line 190, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-edge-right-bottom {
  top: 40px;
  border-width: 20px 30px 0 0;
  border-color: #813a98 transparent transparent transparent;
}
/* line 196, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-4 div.ribbon-back-right {
  top: 20px;
}

/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-wrapper {
  height: 50px;
  width: 650px;
  position: relative;
  z-index: 3;
  background-position: 0 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 10, color-stop(0%, #555555), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 10px);
  background-image: -moz-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 10px);
  background-image: -o-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 10px);
  background-image: linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 10px);
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-front {
  width: 700px;
  height: 40px;
  background-color: #3a89ce;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -25px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-edge-left-top,
#ribbon-example-5 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -25px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-back-left {
  width: 20px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #3a89ce;
  left: -20px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-edge-right-top,
#ribbon-example-5 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -25px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-back-right {
  width: 20px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #3a89ce;
  right: -20px;
}
/* line 164, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-edge-left-bottom {
  top: 40px;
  border-width: 0 25px 10px 0;
  border-color: transparent #163a59 transparent transparent;
}
/* line 170, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-back-left {
  top: 10px;
}
/* line 190, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-edge-right-bottom {
  top: 40px;
  border-width: 10px 25px 0 0;
  border-color: #163a59 transparent transparent transparent;
}
/* line 196, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-5 div.ribbon-back-right {
  top: 10px;
}

/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-wrapper {
  height: 60px;
  width: 650px;
  position: relative;
  z-index: 3;
  background-position: 0 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 20, color-stop(0%, #555555), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -moz-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -o-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-front {
  width: 710px;
  height: 40px;
  background-color: #3a89ce;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -30px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-edge-left-top,
#ribbon-example-6 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-back-left {
  width: 0;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #3a89ce;
  left: 0;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-edge-right-top,
#ribbon-example-6 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-back-right {
  width: 0;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  background-color: #3a89ce;
  right: 0;
}
/* line 164, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-edge-left-bottom {
  top: 40px;
  border-width: 0 30px 20px 0;
  border-color: transparent #163a59 transparent transparent;
}
/* line 170, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-back-left {
  top: 20px;
}
/* line 190, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-edge-right-bottom {
  top: 40px;
  border-width: 20px 30px 0 0;
  border-color: #163a59 transparent transparent transparent;
}
/* line 196, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-6 div.ribbon-back-right {
  top: 20px;
}

/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-wrapper {
  height: 60px;
  width: 700px;
  position: relative;
  z-index: 3;
  background-position: 0 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 20, color-stop(0%, #555555), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -moz-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -o-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-front {
  width: 760px;
  height: 40px;
  background-color: #3a89ce;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -30px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-edge-left-top,
#ribbon-example-7 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-back-left {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #3a89ce;
  left: -40px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-edge-right-top,
#ribbon-example-7 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-back-right {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3a89ce;
  right: -40px;
}
/* line 164, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-edge-left-bottom {
  top: 40px;
  border-width: 0 30px 20px 0;
  border-color: transparent #163a59 transparent transparent;
}
/* line 170, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-back-left {
  top: 20px;
}
/* line 190, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-edge-right-bottom {
  top: 40px;
  border-width: 20px 30px 0 0;
  border-color: #163a59 transparent transparent transparent;
}
/* line 196, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-7 div.ribbon-back-right {
  top: 20px;
}

/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-8 div.ribbon-wrapper {
  height: 55px;
  width: 750px;
  position: relative;
  z-index: 3;
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-8 div.ribbon-front {
  width: 785px;
  height: 40px;
  background-color: #80b5ad;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -35px;
}
/* line 109, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-8 div.ribbon-edge-left-top,
#ribbon-example-8 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -35px;
  border-style: solid;
}
/* line 113, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-8 div.ribbon-back-left {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -o-border-top-left-radius: 7px;
  -ms-border-top-left-radius: 7px;
  -khtml-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -o-border-bottom-left-radius: 7px;
  -ms-border-bottom-left-radius: 7px;
  -khtml-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #8dbf96;
  left: -30px;
}
/* line 164, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-8 div.ribbon-edge-left-bottom {
  top: 40px;
  border-width: 0 35px 15px 0;
  border-color: transparent #3f6f4e transparent transparent;
}
/* line 170, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-8 div.ribbon-back-left {
  top: 15px;
}

/* Other styles for the demo --------------------------------------------------------------*/
/* line 81, ../sass/3d-ribbon-examples.scss */
body {
  background: #F8F8F8;
}

/* line 85, ../sass/3d-ribbon-examples.scss */
#content {
  margin: 20px auto;
  text-align: center;
  width: 750px;
  color: #FFF;
  font-family: sans-serif;
}
/* line 92, ../sass/3d-ribbon-examples.scss */
#content h2 {
  font-size: 28px;
  line-height: 40px;
}

/* line 101, ../sass/3d-ribbon-examples.scss */
#ribbon-example-1, #ribbon-example-2, #ribbon-example-3, #ribbon-example-4, #ribbon-example-5, #ribbon-example-6, #ribbon-example-7, #ribbon-example-8, #ribbon-example-9 {
  margin: 80px 0;
}
/* line 104, ../sass/3d-ribbon-examples.scss */
#ribbon-example-1 .ribbon-wrapper, #ribbon-example-2 .ribbon-wrapper, #ribbon-example-3 .ribbon-wrapper, #ribbon-example-4 .ribbon-wrapper, #ribbon-example-5 .ribbon-wrapper, #ribbon-example-6 .ribbon-wrapper, #ribbon-example-7 .ribbon-wrapper, #ribbon-example-8 .ribbon-wrapper, #ribbon-example-9 .ribbon-wrapper {
  margin: 0 auto;
}

/* line 59, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-wrapper {
  height: 60px;
  width: 300px;
  position: relative;
  z-index: 3;
  background-position: 0 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 20, color-stop(0%, #555555), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -moz-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: -o-linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
  background-image: linear-gradient(#555555 0px, rgba(255, 255, 255, 0) 20px);
}
/* line 76, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-front {
  width: 360px;
  height: 40px;
  background-color: #cb261b;
  position: relative;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  left: -30px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-edge-left-top,
#ribbon-example-9 div.ribbon-edge-left-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  left: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-back-left {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #cb261b;
  left: -40px;
}
/* line 133, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-edge-right-top,
#ribbon-example-9 div.ribbon-edge-right-bottom {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  right: -30px;
  border-style: solid;
}
/* line 137, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-back-right {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #cb261b;
  right: -40px;
}
/* line 164, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-edge-left-bottom {
  top: 40px;
  border-width: 0 30px 20px 0;
  border-color: transparent #440d09 transparent transparent;
}
/* line 170, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-back-left {
  top: 20px;
}
/* line 190, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-edge-right-bottom {
  top: 40px;
  border-width: 20px 30px 0 0;
  border-color: #440d09 transparent transparent transparent;
}
/* line 196, ../extensions/3d-ribbon/stylesheets/_3d-ribbon.scss */
#ribbon-example-9 div.ribbon-back-right {
  top: 20px;
}
/* line 117, ../sass/3d-ribbon-examples.scss */
#ribbon-example-9 h2 {
  font-style: italyc;
  font-family: Georgia, Verdana,sans-serif;
  text-shadow: rgba(0, 0, 255, 0.2) 1px 1px 0, rgba(0, 0, 255, 0.2) 2px 2px 0, rgba(0, 0, 255, 0.2) 3px 3px 0;
}

/* line 126, ../sass/3d-ribbon-examples.scss */
#example-9-content {
  padding: 80px 20px 20px 20px;
  width: 260px;
  position: relative;
  top: -80px;
  background: #E7E7E7;
  color: #000;
  line-height: 1.2;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  margin: 0 auto;
}
