<!DOCTYPE html>
<html>
	<head>
		<title>3D CSS Ribbons</title>
		<link href="stylesheets/3d-ribbon-examples.css" media="screen, projection" rel="stylesheet" type="text/css" />
	</head>
	<body>
	
	<div id="content">
		
		<!--Welcome!
		This is the basic structure to create a ribbon with two sides (left / right)-->
		
		<!--start ribbon
		<div class="ribbon-wrapper">
			<div class="ribbon-front">
			
				Here you can put some content (like "Lorem ipsum dolor sit amet...") or HTML elements
				
			</div>
			<div class="ribbon-edge-left-top"></div>
			<div class="ribbon-edge-right-top"></div>
			<div class="ribbon-edge-left-bottom"></div>
			<div class="ribbon-edge-right-bottom"></div>
			<div class="ribbon-back-left"></div>
			<div class="ribbon-back-right"></div>
		</div>
		end ribbon -->
		
		<!--
		If you need only one side in the ribbon, you can remove some <div />. For example, if you need a ribbon with only the right side, 
		you can remove <div class="ribbon-edge-left-top"></div>, <div class="ribbon-edge-left-bottom"></div> 
		and <div class="ribbon-back-left"></div>:
		-->
		
	 	<!-- Start ribbon with one side (right) 
		<div class="ribbon-wrapper">
			<div class="ribbon-front">
			
				Here you can put some content (like "Lorem ipsum dolor sit amet...") or HTML elements
				
			</div>
			<div class="ribbon-edge-right-top"></div>
			<div class="ribbon-edge-right-bottom"></div>
			<div class="ribbon-back-right"></div>
		</div>
		end ribbon -->
		
		
		
		
		<!--Some examples (open this document to view the final result): -->
		
		<!-- Example 1 -->
		<div id="ribbon-example-1">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						Default options
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-right-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-edge-right-bottom"></div>
				<div class="ribbon-back-left"></div>
				<div class="ribbon-back-right"></div>
			</div>
			
		</div>
		
		<!-- Example 2 -->
		<div id="ribbon-example-2">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						With left-top & right-bottom
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-right-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-edge-right-bottom"></div>
				<div class="ribbon-back-left"></div>
				<div class="ribbon-back-right"></div>
			</div>
			
		</div>
		
		<!-- Example 3 -->
		<div id="ribbon-example-3">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						or the color & height of the ribbon...
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-right-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-edge-right-bottom"></div>
				<div class="ribbon-back-left"></div>
				<div class="ribbon-back-right"></div>
			</div>
			
		</div>
		
		<!-- Example 4 -->
		<div id="ribbon-example-4">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						or the color of the edges & back part...
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-right-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-edge-right-bottom"></div>
				<div class="ribbon-back-left"></div>
				<div class="ribbon-back-right"></div>
			</div>
			
		</div>
		
		<!-- Example 5 -->
		<div id="ribbon-example-5">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						or the width/height of the back part & overlap... 
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-right-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-edge-right-bottom"></div>
				<div class="ribbon-back-left"></div>
				<div class="ribbon-back-right"></div>
			</div>
			
		</div>
		
		<!-- Example 6 -->
		<div id="ribbon-example-6">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						or you can hide the back part...
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-right-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-edge-right-bottom"></div>
				<div class="ribbon-back-left"></div>
				<div class="ribbon-back-right"></div>
			</div>
			
		</div>
		
		<!-- Example 7 -->
		<div id="ribbon-example-7">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						or add some border-radius...
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-right-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-edge-right-bottom"></div>
				<div class="ribbon-back-left"></div>
				<div class="ribbon-back-right"></div>
			</div>
			
		</div>
		
		<!-- Example 8 -->
		<div id="ribbon-example-8">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						or all options! (in this case with only one side)
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-back-left"></div>
			</div>
			
		</div>
		
		<!-- Example 9 -->
		<div id="ribbon-example-9">
			
			<div class="ribbon-wrapper">
				<div class="ribbon-front">
					<h2>
						Some nice example
					</h2>
				</div>
				<div class="ribbon-edge-left-top"></div>
				<div class="ribbon-edge-right-top"></div>
				<div class="ribbon-edge-left-bottom"></div>
				<div class="ribbon-edge-right-bottom"></div>
				<div class="ribbon-back-left"></div>
				<div class="ribbon-back-right"></div>
			</div>
			
			<div id="example-9-content">
				
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
				
			</div>
			
		</div>
		
	</div>
	
	</body>
</html>
